{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1 class="mt-0">Operation DeFAANG</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
	    <p class="lead">Big Tech’s services might be convenient, but have you thought about the privacy implications and control of so many people using them?</p>
      <a class="btn btn-primary btn-lg px-4 mb-2" href="/docs/{{ if .Site.Params.options.docsVersioning }}{{ .Site.Params.docsVersion }}/{{ end }}prologue/introduction/" role="button">{{ i18n "get-started" }}</a>
      <p class="meta">Open Source, MIT Licensed</p>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
  {{ if eq $.Site.Language.LanguageName "English" }}
  <section class="section section-sm">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-lg-5">
          <h2 class="h4">Community Developed</h2>
	  <p>Started as a student project, Aimed to be sustained by a community</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">Privacy Friendly</h2>
	  <p>Privacy is the end goal and will be followed through the full way</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">Free and Open Source</h2>
	  <p>Always free and always <a href="https://codeberg.org/operation-defaang">open</a></p>
        </div>
      </div>
      <div class="row justify-content-center text-center">
        <div class="col-lg-5">
          <h2 class="h4">FAANG | LESS</h2>
          <p>An easy-to-use server package manager</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">Kits</h2>
          <p>Plug-and-play packages for self-hosted services</p>
        </div>
      </div>
    </div>
  </section>
  {{ end }}
{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}
